.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.Rproj
*.docx
*.log
feedback/
other/
*.xlsx
README.html
LICENSE.html
application.pdf
appendices.pdf
summary.pdf
application-complete.pdf
submission-documents
